<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bb.gamingnews">
<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name= "android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name= "android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <application
        android:name="com.bb.gamingnews.MyApplication"
        android:icon="@drawable/cnlogo"
        android:largeHeap="true"
        android:allowClearUserData="true"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.MVVMDesign">
        <activity
            android:name="com.bb.gamingnews.ui.account.HoastAccountActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.bb.gamingnews.ui.account.SpleshActivity"
            android:theme="@style/Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.bb.gamingnews.ui.MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
<!--            <nav-graph android:value="@navigation/user_navigation" />-->

            <intent-filter tools:ignore="AppLinkUrlError">

                <data android:scheme="http" android:host="gamingnews.page.links"/>
                <data android:scheme="https" android:host="gamingnews.page.links"/>

                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.bb.gamingnews"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/googleapi" />
<!--        <meta-data-->
<!--            android:name="com.facebook.sdk.ApplicationId"-->
<!--            android:value="@string/facebook_app_id" />-->
<!--        <provider-->
<!--            android:name="com.facebook.FacebookContentProvider"-->
<!--            android:authorities="com.facebook.app.FacebookContentProvider337765074885658"-->
<!--            android:exported="true" />-->

        <service android:name="com.bizbrolly.wayja.fcmNotification.FBMessaging"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>


        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token"/>
        <activity android:name="com.facebook.FacebookActivity"
            android:exported="true"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>

        </activity>


    </application>

</manifest>